body {
  background-color: #eeeeee;
}
#logo {
  margin-top: -15px;
  margin-left: 15px;
}
.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: white;
  white-space: nowrap;
}
.navbar-nav > li > .dropdown-menu {
  margin-top: 0;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: #333;
}
#menu {
  margin-top: 0px;
  padding: 0;
  /* width: 100%; */
}
#menu a {
  width: 100%;
  text-decoration: none;
  color: #ffc221;
  font-weight: bold;
  display: block;

  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #ffc221;
  padding: 0 1em;
  position: relative;
}
#menu a:hover {
  background-color: #ffc221;
  color: #333;
}
.send {
  font-family: poppins;
  max-width: 212px;
  margin: 40px 0px;
  display: block;
  background: #000;
  color: #fff;
  padding: 12px 0px;
  width: 100%;
  font-size: 17px;
}

.send:hover {
  background: #ffc221;
}
#bg-content {
  background-color: whitesmoke;
  box-shadow: 1px 2px 2px #aaa;
}
#bg-control {
  min-height: 700px;
  background-color: white;
  padding: 10px;
  box-shadow: 1px 2px 2px #aaa;
}
tbody tr td {
  max-width: 350px;
}
